<h1>New Minor</h1>

<%= form_for :minor, url: minors_path, :method => :post do |f| %>

	<div class="field"> 
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</div>

	<div class="field"> 
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</div>

	<div class="field"> 
		<%= f.label :minor_email %>
		<%= f.email_field :minor_email %>
	</div>

	<%= f.hidden_field "user_id", value: current_user.id %> 

	<div class="actions">
		<%= f.submit %>
	</div>

<% end %>

